.active {
  color: red;
}
 .accordion {
  margin: auto;
  max-width: 960px;
  border-bottom: solid 1px #c4c4c4;
}
.accordion-group{
  display: flex;
  flex-direction: column;
}
.accordion-header h4{
  margin: auto;
}
.accordion-content p{
  margin: auto;
}
.accordion-header {
  padding: 7px;
  margin: 0;
  font: bold 120%/100% Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.accordion-group.toggle{
  border: 1px solid red;
}
.accordion-header:hover {
  background-color: #e3e2e2;
}

.accordion header.active {
  background-position: right 5px;
}
.accordion-content {
  margin: 0;
  padding: 5px 20px;
}