#reviewContainerCarousel{
  max-width: 720px;
  padding: 20px 5px 20px 20px;
  background-color: white;
  border: solid 2px black;
  margin: 100px auto;
  position: relative;
  z-index: 10; /*TODO: #8 Z-index не работает на этом элементе! Наложение происходит в любом случае.*/
}
/*#reviewContainerCarousel::before{
content:"";
display: block;
position: absolute;
background: white;
top:-50px;
left: 25px;
right: 25px;
opacity: 0.5;
border: 1px solid rgba(0,0,0,0.2);
bottom:0;
border-radius: 5px;
z-index: 5;
}
#reviewContainerCarousel::after{
content:"";
display: block;
position: absolute;
background: white;
top:-70px;
left: 40px;
right: 40px;
opacity: 0.36;
border: 1px solid rgba(0,0,0,0.2);
bottom:0;
border-radius: 5px;
z-index: 4;
}
*/
.arrows-slick{
  border-top: solid 1px grey;
}
.reviewSlide img{
  margin:0 0 2em 0;
}
.workingWithCarouselWrapper{
margin: 50px 0 5px 0;
}
.workingwithInside{
border: solid 2px darkgray;
border-radius: 5px;
margin:0 6px;
box-sizing: border-box;
}
.workingwithInside > img {
 width: 100%;
 height: auto;
}
@media screen and (min-width: 770px){
  #reviewContainerCarousel::before{
    left: 60px;
    right: 60px;  
  }
  #reviewContainerCarousel::after{
    left: 80px;
    right: 80px;  
  }
  #reviewContainerCarousel{
    max-width: 720px;
    padding: 60px 5px 60px 60px;
    background-color: white;
    border: solid 2px black;
    margin: 100px auto;
    position: relative;
    z-index: 1000;
  }
  .reviewSlide{
  border-right: solid 1px darkgray;
  margin:auto;
  }
  .arrows-slick{
  border-top: 0;
  }
}