.main-title {
    font-family: sans-serif;
    font-size: 40px;
}

.video-bck {
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.15;
    filter: blur(2px);
    left: 50%;
    z-index: -1;
    position: absolute;
    height: auto;
}

.header-background{
    position: absolute;
    z-index: -2;
    background: #292b2c;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.troll-face{
    opacity: 0.05;
    transform: translate(-50%, -50%);
    width:100%;
    left: 50%;
    top:50%;
}

.achievement-tab {
    border-left: 3px solid darkred;
}

.extra-text {
    font-size: 10px;
}

.text-about-service{
    font-size: 14px;
}

.text-about-main{
    font-size: 22px;
}

.bck-main{
    background-image: url("img/background.png");
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.close:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

.navbar-effect:hover{
    border-bottom: darkred;
}

.navbar-region{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.header-data{
    z-index: 10;
    color: white;
    position: center;
}

.social-links-wrapper{
    list-style: none;
}

.social-img{
    width: 40px;
    height: 40px;
}

.footer-region{
    position: relative;
    width: 100%;
    height: auto;
}

.footer-region-background{
    position: absolute;
    z-index: -2;
    background: #292b2c;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.border-social{
    border-top: 2px solid #f7f7f7;
}

.phone, .email{
    font-size:20px;
}

.email-img, .phone-img{
    width: 45px;
    height: 45px;
}

.form-item{
    width: 100%;
}

.info{
    background: transparent;
}

.info:focus{
    background: transparent;
}

.form-control:focus{
    color: #f7f7f7;
    background-color: transparent;
    border-color: darkred;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

.img-competency{
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}

.img-competency-wrapper{
    z-index: 5;
    position: relative;
    border-bottom: 2px solid #292b2c;
}

.img-dev{
    display: block;
    max-width: 100%;
    height: auto;
}

.dev-steps-icon{
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 5;
}

.dev-steps-wrapper{
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 100px rgb(162 162 162 / 25%);
    border-radius: 10px 10px 1px 10px;
    margin: auto;
    height: auto;
}

.dev-steps-body{
    position: relative;
    z-index: 11;
    padding-bottom: 50px;
}

.number{
    margin-top: 10px;
    font-size: 10px;
}

.expertise-block{
    border-left: solid 1px darkred;
}

.expertise-img{
    position: relative;
    z-index: 10;
}

.expertise-region:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: gray;
    z-index: -1;
}

.img-fluid-ex{
    height: 80%;
    width: 100%;
}

.dev-steps-region{
    position: relative;
    z-index: 20;
    height: 1600px;
}

.expertise-region{
    padding-top: 150px;
    position: relative;
    height: 840px;
}

@media screen and (min-width: 340px){
    .dev-steps-region{
        height: 1600px;
    }

    .expertise-region{
        padding-top: 120px;
        height: 880px;
    }

}



@media screen and (min-width: 760px) {
    .dev-steps-wrapper{
        margin: 0;
    }

    .left-block{
        margin-right:100px;
    }

    .right-block{
        margin-left:100px;
    }
}
